{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1>{{ playlist.name }}!</h1>
  {% if playlist.description %}
  <p class="lead">{{ playlist.description }}</p>
  {% endif %}
</div>

<h1>Songs currently on playlist:</h1>
{% for song in playlist.songs %}
<div>
  <h4>Title: <a href="/songs/{{song.id}} ">{{song.title}}</a><span>   -----------     Artist: <small>{{song.artist}}</small></span></h4>
</div>
{% endfor %}

<p>
  <a class="btn btn-primary" href="/playlists/{{ playlist.id }}/add-song">
    Add Song To Playlist
  </a>
</p>

{% endblock %}