{% extends 'base.html' %} {% block title %}Boggle How To Play{% endblock %} {%
block content %}
<h3>How to Play:</h3>
<p class="text-box">
	The goal of Boggle is to score points by finding words in the random letters
	in the grid. The letters you use must be touching vertically, horizontally,
	or diagonally in a chain. You can't skip or "jump" across letters, and you
	can only use a letter one time per word.
</p>
<img
	src="https://wordtwist.puzzlebaron.com/images/sample.gif"
	alt="boggle example picture"
/>
<button class="menu-select" id="menu-back">Back to Menu</button>
{% endblock %}
