{% extends 'base.html' %} {% block title %} Add Pet {% endblock %} {% block content %}
    <h1>New Pet</h1>
    <form action="" method="POST">
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type != 'hidden' %}
            <p>
                {{field.label}}
                {{field(class_="form-control")}}

                {% for err in field.errors %}
                    {{err}}
                {% endfor %}
            </p>
        {% endfor %}
        <button>Submit</button>
    </form>
{% endblock %}